@import "header.css";
@import "footer.css";
@import "aside.css";
@import "body.css";
@import "main.css";

*{
    margin: 5px;
    box-sizing: border-box;
    list-style: none;  
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

@media all and (max-width: 550px){
    .main{
        flex-direction: column;
    }
    main{
        padding: 5em 0 5em 0;
    }
}
